# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Project outputs
data/
results/
checkpoints/
cache/
cache_next_child/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
